body
{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

h1
{
    font-size: 50px;

}
h2{
    font-size: 40px;
 
}
p{
    color: brown;
    text-align: left;
   font-size: 15px;


   
}
.orange-highlight
{
    color: blue;
}
.half-width
{
    width: 35%;
    height: 80%;
    float: left; 
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    
}
.top-banner{
   
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
     height: 400px; 
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    /* background-color: rgb(39, 206, 17); */
    background-image: linear-gradient(45deg,green, rgb(24, 204, 105));
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(32, 30, 30);
    font-weight: bold;
    
}
.dream-area{ 
     background-image: url("images/dream-bg.png"); 
    
     background-repeat: no-repeat; 
     background-position: right; 
     background-size: 70px; 
    text-align:justify;
    float:inline-start; 
    /* width: 100%; */
    /* height: 100%; */
    /* padding-bottom: 150px; */
    
 } 

.dream-area img{
    width: 80%;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(45deg,green, rgb(24, 204, 105));
    border-image-slice:1;
}
#ashik{
    border-left: 7px solid;
    border-image: linear-gradient(45deg,blue, rgb(182, 17, 44));
    border-image-slice:1;
}
footer p{
    text-align: center;
    color: rgb(10, 13, 199);
    font-size: bold;
}